<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622996882555-okjscjgn7ql8veb53eea2tn8ddlr9fe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622996882555-okjscjgn7ql8veb53eea2tn8ddlr9fe1</string>
	<key>API_KEY</key>
	<string>AIzaSyADxWCF8zVpotLCkeIbCrwYfNqP4vNkqik</string>
	<key>GCM_SENDER_ID</key>
	<string>622996882555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cricFieldProject1</string>
	<key>PROJECT_ID</key>
	<string>cricfieldanlyzer</string>
	<key>STORAGE_BUCKET</key>
	<string>cricfieldanlyzer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622996882555:ios:458c7883f788e6bafa0ede</string>
</dict>
</plist>